<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.iosdownload }}">iOS app</a>
      <a class="sidebar-nav-item" href="{{ site.macosdownload }}">macOS app</a>
      <a class="sidebar-nav-item" href="{{ site.appsource }}">Source</a>
      <a class="sidebar-nav-item" href="{{ site.sitesource }}">This site's source</a>
      <a class="dbox-donation-button" target="_blank" href="https://donorbox.org/send-as-post-supporters?recurring=true&amount=1" style="background:#6a9fb5 url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 2px center; color: #fff;text-decoration: none;display: inline-block;padding: 2px 17px 0px 35px;" >Tip jar</a>
    </nav>
  </div>
</div>
